$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size: 18px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * .875 !default;
$base-line-height: 1.5 !default;

$width: 660px;
$spacing: 30px;

$white: #fff !default;
$gray: #47525d !default;
$dark-gray: #929faa !default;
$light-gray: #dbe4eb !default;
$lighter-gray: #f2f9ff !default;
$blue: #2d95f3;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $white;
  color: $gray;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

h1 {
  font-size: 28px;
  line-height: 36px;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 22px;
  line-height: 30px;
  margin: 0;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
  color: $blue;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid $blue;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  margin: 0 auto;
  max-width: $width;
  padding: 0 $spacing;
}

main {
  flex-grow: 1;
}

header {
  border-bottom: 1px solid $light-gray;
  border-top: 5px solid $light-gray;
  margin: 0 0 20px;
  padding: 20px 0;

  a,
  a:hover,
  a:focus,
  a:visited {
    color: $gray;
  }

  a:hover {
    border-bottom: 1px solid $gray;
  }
}

footer {
  border-top: 1px solid $light-gray;
  margin: 20px 0 0;
  padding: 20px 0;
}

.post-list {
  li {
    margin: 0 0 12px;
  }

  li:last-child {
    margin: 0;
  }
}

.post-header {
  margin: 0 0 20px;

  .post-meta {
    margin: 0;
  }
}

.post-content {
  p {
    margin: 0 0 12px;
  }

  p:last-child {
    margin: 0;
  }
}
