---
layout: default
---

<header>
  <div class="logo">
    {% include logo.svg width=46 height=61 %}
    </svg>
    <div class="under under-small">
      <h2 itemprop="name headline"><em>{{ page.title | escape }}</em></h2>
      <p class="date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
      <a class="back accent" href="{{ "/" | relative }}">~ back to blog</a>
    </div>
  </div>
  <hr />
</header>
<main>
  <article itemprop="articleBody">
    {{ content }}
  </article>
</main>
